<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/home.css"> <!-- Link to external CSS file -->
</head>
<body>
    <div class="home-container">
        <h1>Welcome to Passport Manager</h1>
        <div class="button-container">
            
            <a href="/passport" class="home-button analyze-button">Analyze Passport</a>
            
            <a href="/GetAllPassport" class="home-button list-button">List Passports</a>
        </div>
    </div>
</body>
</html>